.DS_Store
node_modules
/dist
Todo.vue
Addtodo.vue
Todos.js
Todos.scss
Todos.vue
todos.js
Header.vue
Header.js
Header.scss
Keep.vue
Keep.js
Keep.scss

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
