.display_notes {
    display: grid;
    grid-template-columns: repeat(3, 0.1fr);
    grid-gap: 25px;

    .display_notes_container {
        border: 1px solid #e0e0e0;
        padding: 15px;
        border-radius: 8px;
        height: 100px;
        width: 210px;

        &:hover #icons {
            display: flex;
            align-items: flex-end;
        }

        #icons {
            display: none;
        }
    }
}
