.textbox {
    width: 100%;

    .textbox-container {
        margin-top: 0.4rem;
        position: relative;
        margin-bottom: 0;

        @media screen and (max-width: 768px) {
            margin-bottom: 20px;
            width: 90%;
        }

        input {
            outline: none;
            padding: 0.5rem;
            width: 100%;
            border: solid 2px #277be9;
            border-radius: 4px;
            cursor: text;
            height: 25px;

            &:not(:focus) {
                border: solid 1px #dadce0;
            }

            &.error {
                border: solid 1px #f00;
            }

            transition: border 0.1s linear;
        }
    
        label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0 0.5rem;
            display: flex;
            align-items: center;
            height: 100%;
            cursor: text;
            color: #5f6368;

            transition: all 0.1s linear;

            &.error {
                color: #f00;
            }
        }
    
        input:focus ~ label {
            font-size: 0.8rem;
            display: inline;
            height: auto;
            top: 1rem;
            background-color: #fff;
            left: 0.5rem;
            color: #277be9;

            &.error {
                color: #f00;
            }
        }

        input:not(:placeholder-shown) ~ label,
        input:focus ~ label {
            font-size: 0.8rem;
            display: inline;
            height: auto;
            top: -0.4rem;
            background-color: #fff;
            left: 0.5rem;

            &.error {
                border-color: #f00;
            }
        }
    }

    .small-error {
        font-size: 0.8rem;
        color: #f00;
    }
}