.signup {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 480px) {
        width: 100%;
    }

    .signup-container {
        border: solid 1px #dadce0;
        border-radius: 8px;
        padding: 2.5rem 2rem;
        display: flex;
        gap: 1rem;
        width: 600px;
        margin: 0 auto;

        @media screen and (max-width: 480px) {
            border: none;
            width: 100%;
            padding: 1.5rem 1rem;
        }

        .leftcolumn {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 1.5rem;
            row-gap: 1.5rem;
            flex: 6;

            .logocontainer {
                width: 130%;

                @media screen and (max-width: 768px) {
                    width: 100%;
                }

                .logo-content {
                    margin: 0;
                    display: flex;
                    justify-content: left;
                    align-items: flex-start;
                    margin-left: 2%;
                }
            }

            a {
                color: #277be9;
                padding: 0.2rem 0.4rem;
                font-weight: 600;
                text-decoration: none;
        
                &:hover {
                    color: #174ea6;
                    background-color: #f6fafe;
                    border-radius: 4px;
                }
            }

            svg, .email-container, .logocontainer, .email-next, .footer, .password {
                grid-column: span 2;
            }
      
            .password {
                display: flex;
                align-items: center;
                gap: 2rem;
            }

            @media screen and (max-width: 768px) {
                grid-template-columns: auto;   
                display: block;         
            }
        }

        .rightcolumn {
            flex: 4;
            @media screen and (max-width: 1024px) {
                display: none;
            }
      
            .imgdesc {
                padding: 0 2rem;
                text-align: center;
                font-weight: 300;
                font-size: 16px;
                color: #202124;
            }
        }
    }
}

#snackbar1 {
    z-index: 100;
    position: relative;
    top: -55px;
}
