.logo {
    span {
        font-size: 1.8rem;
        font-weight: 600;
    }
    .one {
        color: #ea4335;
    }
    .two {
        color: #34a853;
    }
    .three {
        color: #4285f4;
    }
    .four {
        color: #fbbc05;
    }
    .five {
        color: #ea4335;
    }
    .six {
        color: #4285f4;
    }
}