.close {
    display: none;   
}

.open {
    display: block;
    font-size: 14px;
    color: #202124;
    font-family: roboto;
    padding-left: 20px;
}

.header {
    height: 65px;
    border-bottom: 1px solid lightgray;
    padding: 15px 0;

    .header-container {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        background-color: #fff;
        height: 100%;

        .sidebar {
            display: grid;
            position: absolute;
            top: 100px;
            left: 0;
            z-index: 100;
            width: 210px;
            height: 45vh;
            grid-template-columns: 1fr;
            color: #5f6368;

            .icons-content {
                grid-template-columns: 0.3fr 1fr;
                display: grid;
                align-items: center;

                .material-icons {
                    padding: 12px;
                }
                .material-icons:hover {
                    background-color: #feefc3;
                    border-radius: 25px;
                }
            }

            div:hover {
                background-color: #feefc3;
                border-radius: 0 50px 50px 0;
                border: 1px solid transparent;
            }
        }
    
        .leftnav {
            display: flex;
            justify-content: space-evenly;
            width: 140px;
            align-items: flex-end;
            font-size: 22px;
            font-family: Product-sans;
            color: #5f6368;
                
            .left-container {
                display: flex;
                justify-content: space-between;
                width: 120px;
                align-items: flex-end;   
                
                .icon {
                    z-index: 100;
                }
            }
        }
        
        .centernav {
            border-radius: 10px;
            background-color: #fff;
            width: 45%;
            padding: 5px 25px;
            height: 35px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: 1px solid;

            .material-icons {
                color: #5f6368;
            }
        
            .filter {
                width: 100%;
                height: 30px;
                border-radius: 30px;
                padding: 0 25px;
                font-size: 13px;
                border: none;
                outline: none;
                margin-right: 80px;
            }
        }

        .rightnav {
            width: 170px;
            color: #5f6368;
            display: flex;
            justify-content: space-between;

            .right-container1, .right-container2 {
                display: flex;
                justify-content: space-evenly;
                width: 60%;
            }
            .right-container1 > span {
                width: 50px;
            }    
        }
    }
}


