.logo-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 10%;

    .title {
        font-weight: 500;
        font-size: 1.5rem;

        @media screen and (max-width: 500px) {
            font-size: 1.7rem;
        }
    }

    .subtitle {
        font-size: 1.1rem;

        @media screen and (max-width: 500px) {
            font-size: 1.2rem;
        }   
    }
}