.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin-bottom: 10%;

    .text-content, .nextbtn {
        margin-top: 4rem;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
    }

    a {
        color: #277be9;
        padding: 0.2rem 0.4rem;
        font-weight: 600;
        text-decoration: none;

        &:hover {
            color: #174ea6;
            background-color: #f6fafe;
            border-radius: 4px;
        }
    }

    button {
        background-color: #1a73e8;
        border: none;
        border-radius: 4px;
        color: #fff;
        outline: none;
        padding: 0.8rem 1.5rem;
        display: block;
        margin-left: auto;
    }

    @media screen and (max-width: 480px) {
        width: 85%;
        margin: 0 auto;
    }
}